body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Page 1 */
.home {
  background: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

h1 {
  font-size: 40px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 15px;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}

.yes {
  background: red;
  color: white;
}

.no {
  background: gray;
  color: white;
  border: none;
}

/* Page 2 */
.yespage {
  background: #ffe6f2;
  padding: 30px;
}

.love-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.photo-frame img {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  margin: 10px;
  border: 4px solid white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.letter {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
